# Your github fine grain access token for your repositories and pull request access with 5000 requests per hour
GITHUB_TOKEN=

# Google Analytics ID - Get it from https://analytics.google.com
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=

# Highlight project ID - Get it from https://www.highlight.io
NEXT_PUBLIC_HIGHLIGHT_PROJECT_ID=

# Google Tag Manager ID - Get it from https://tagmanager.google.com
NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=G-0L0E0Z0F0J