# Your github fine grain access token for your repositories and pull request access with 5000 requests per hour
GITHUB_TOKEN=

# Vapid configuration for push notifications in PWA, Generate a public key and private key from https://vapidkeys.com
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT_EMAIL=

# TODO: Add goggle analytics
# Google Analytics ID - Get it from https://analytics.google.com
NEXT_GOOGLE_ANALYTICS_ID=

# Highlight project ID - Get it from https://www.highlight.ioNEXT_PUBLIC_HIGHLIGHT_PROJECT_ID=